<!-- views/images.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images Gallery</title>
</head>
<body style="background-color: gray;">

    <h1 style="text-align: center;">Gallery</h1>
    
    <div style="display: flex; flex-wrap: wrap;">
        <% images.forEach(image => { %>
            <div style="margin: 10px;">
                <img src="/images/<%= image.src %>" alt="<%= image.description %>" style="width: 200px; height: auto;"/>
                <p><%= image.description %></p>
            </div>
        <% }); %>
    </div>

    <a href="/">Back to Home</a>
</body>
</html>
