body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: gray;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* ul {
    list-style-type: none;
    padding: 0;
} */

.items-list > li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.items-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    border: 2px solid black;
    width: 20%;
    background-color: #e2e2e2; 
}

/* .item {
    padding: 10px;
    margin: 5px 0; 
    background-color: #e2e2e2; 
    border-radius: 5px; 
} */